<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <% include ../../include/head.ejs %>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <% include ../../include/header.ejs %>

          <!-- Content -->
          <section>
            <header class="main">
              <h1>Members</h1>
            </header>

            <hr>
            <h2 style="text-align: left;">Master's course students</h2>
            <div class="row">

              <div class="col-6 col-12-small">
                <h3>Seonwoo Jung</h3>
                <p>Major : Artificial intelligence</p>
                <p>Field of interest : NLP, Text classification, AI medical/health care</p>
              </div>

              <div class="col-6 col-12-small">
                <h3>Soyeon Lee</h3>
                <p>Major : Biomedical Science</p>
                <p>Field of interest : medical informatics etc  </p>
              </div>

              <div class="col-6 col-12-small">
                <h3>MyeongHyun Jeong</h3>
                <p>Major : Biomedical Science</p>
                <p>Field of interest : medical informatics etc  </p>
              </div>
            </div>

            <hr>
            <h2 style="text-align: left;">Bachelor's course students</h2>
            <div class="row">

	            <div class="col-6 col-12-small">
                <h3>Sangyun Lee</h3>
                <p>Major : Artificial intelligence</p>
                <p>Field of interest : BigData, Machine Learning</p>
              </div>

              <div class="col-6 col-12-small">
                <h3>Woohyuk Jang</h3>
                <p>Major : Computer Science</p>
                <p>Field of interest : BigData, NLP </p>
              </div>
            </div>


            <hr>
            <h2 style="text-align: left;">O/B Members</h2>
            <button id="moreButton2" onclick="more_ob()">more</button>
            <div class="row more-ob">
              <div class="col-6 col-12-small">
                <h3>Hyungkoo Kim (2021 late)</h3>
                <p>Senior researcher</p>
              </div>

              <div class="col-6 col-12-small">
                <h3>Hyeonseo Yunn (2021 mid)</h3>
                <p>Major : Computer Science</p>
		            <p>Field of interest : CNN, NLP</p>
              </div>

              <div class="col-6 col-12-small">
                <h3>Jieun Choi (2021 mid)</h3>
                <p>Major : Computer Science</p>
		            <p>Field of interest : Python, NLP etc</p>
              </div>

              <div class="col-6 col-12-small">
                <h3>Seyoung Min (2020 late)</h3>
                <p>Major : Computer Science</p>
                <p>Field of interest : Image processing, Text classification etc</p>

              </div>
              <div class="col-6 col-12-small">
                <h3>Jaewook Shin (2020 late)</h3>
                <p>Major : Artificial intelligence</p>
                <p>Field of interest : NLP, BERT, ELMO, NMT, Text classification etc</p>

              </div>
              <div class="col-6 col-12-small">
                <h3>Minji Lee (2020 late)</h3>
                <p>Major :  Artificial intelligence</p>
		            <p>Field of interest : DL, Big data analysis, NLP, Text classification etc</p>
              </div>

              <div class="col-6 col-12-small">
                <h3>Sunkyung Lee (2020 mid)</h3>
                <p>Major : Artificial intelligence</p>
              </div>
            </div>

          </section>
        </div>
      </div>

      <!-- Sidebar -->
      <% include ../../include/sidebar.ejs %>

    <!-- Scripts -->
    <% include ../../include/script.ejs %>
  </body>

  <style>
    /* .more {
      font-size: 0px;
    } */

    .more {
      display:none
    }

    .more-ob {
      display:none
    }
  </style>

<script>
  
  var getAllElementsByClassName = function(className) {
    var bodyHtml = document.body; 
    var bin = []
    var check = function(bodyHtml) {
      if(bodyHtml.classList && bodyHtml.classList.contains(className)) {
        bin.push(bodyHtml);
      }
      if(bodyHtml.hasChildNodes()) {
        for(var i = 0; i< bodyHtml.childNodes.length; i++) {
          check(bodyHtml.childNodes[i]);
        }
      }
    }
    check(bodyHtml);
    return bin;
  };

  function removeClassName(elem, name){
    var remClass = elem.className;
    var re = new RegExp('(^| )' + name + '( |$)');
    remClass = remClass.replace(re, '$1');
    remClass = remClass.replace(/ $/, '');
    elem.className = remClass;
  }

  function more() {

    var moreText = getAllElementsByClassName("more");

    for(var i=0; i<moreText.length; i++){
      //moreText[i].style.fontSize = "17px"

      // console.log(moreText[i])
      removeClassName(moreText[i], "more")
      // if(moreText[i].classList.contains("more")) {
      //   moreText[i].classList.remove("more")
      // }
    }

    var moreBtn = document.getElementById("moreButton");
    moreBtn.style.display = "none";
  }


  function more_ob() {

    var moreText = getAllElementsByClassName("more-ob");

    for(var i=0; i<moreText.length; i++){
      removeClassName(moreText[i], "more-ob")
    }

    var moreBtn = document.getElementById("moreButton2");
    moreBtn.style.display = "none";
  }

  document.getElementById("sidebar-people").className += " active";

  </script>

</html>
