<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <% include ../include/head.ejs %>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <% include ../include/header.ejs %>

          <!-- Content -->
          <section>
            <header class="main">
              <h1>Publications</h1>
            </header>

            <p style="text-align:right"> <sup>*</sup> Corresponding author(s), <sup>†</sup> Cofirst authors<br><b>Names in bold letters</b>: IISL members </p>

            <h2>Ongoing Papers</h2>
            <ul>
              <li>Predicting Stroke Risk in Patients with Atrial Fibrillation Using Machine Learning, in review</li>
              <li>Longitudinal Study for Children with Disability</li>
              <li><b>Sunyong Yoo</b>, Ja-young Choi, Shinseong Yang, Seong-Eun Koh, Yun-chol Jang, Min-Keun Song<sup>*</sup> Current Medical Service Utilization Status of Disabled Children in Korea with Brain or Physical Disorders.</li>
            </ul>

            <h2>Peer Reviewed Journals (2021)</h2>
            <ul>
              <li>Jinmyung Jung, Yongdeuk Hwang, Hongryul Ahn, Sunjae Lee<sup>*</sup>, <b>Sunyong Yoo<sup>*</sup></b> (2021), <a href="https://www.mdpi.com/1422-0067/22/20/11114" target="_blank">Precise characterization of genetic interactions in cancer by refining process on molecular networks.</a> <i><strong>International Journal of Molecular Sciences</strong></i>, 22(20), 11114.</li>
              <li><b>Sunyong Yoo<sup>†</sup></b>, Dong-Wook Kim<sup>†</sup>, Young-Eun Kim, Jong Heon Park, Yeon-Yong Kim, Kyu-dong Cho, Mi-Ji Gwon, Jae-In Shin, Eun-Joo Lee<sup>*</sup> (2021). <a href="https://www.e-epih.org/journal/view.php?number=1152" target="_blank">Data Resource Profile: the Allergic Disease Database of the Korean National Health Insurance Service.</a> <i><strong>Epidemiology and health</strong></i>, e2021010.</li>
              <li><b>Hyeonseo Yun<sup>†</sup></b>, Dong-Wook Kim<sup>†</sup>, Eun-Joo Lee, Jinmyung Jung<sup>*</sup>, <b>Sunyong Yoo<sup>*</sup></b> (2021). <a href="https://www.mdpi.com/2072-6643/13/4/1360" target="_blank">Analysis of the Effects of Nutrient Intake and Dietary Habits on Depression in Korean Adults.</a> <i><strong>Nutrients</strong></i>, 13(4), 1360.</li>
              <li>Jin Hyo Park, Geon Kim, Dong Yeong Kim, Su Yeon Kim, <b>Sunyong Yoo<sup>*</sup>,</b> Myoung Jin Lee<sup>*</sup> (2021). <a href="https://ieeexplore.ieee.org/document/9507492" target="_blank">S-TAT Leakage Current in Partial Isolation Type Saddle-FinFET (Pi-FinFET)s.</a> <i><strong>IEEE Access</strong></i>, 9, 111567.</li>
              <li>Kiseong Kim<sup>†</sup>, <b>Sunyong Yoo<sup>*,†</sup>,</b> Sangyeon Lee, Doheon Lee<sup>*</sup>, Kwang-Hyung Lee<sup>*</sup> (2021). <a href="https://www.mdpi.com/2076-3417/11/7/2997" target="_blank">Network Analysis to Identify the Risk of Epidemic Spreading.</a> <i><strong>Applied Sciences</strong></i>, 11(7), 2997.</li>
              <li>Zaki Masood, Hosung Park, Han Seung Jang, <b>Sunyong Yoo</b>, Sokhee P. Jung, Yonghoon Choi<sup>*</sup> (2021). <a href="https://ieeexplore.ieee.org/document/9166712/" target="_blank">Optimal Power Allocation for Maximizing Energy Efficiency in DAS-Based IoT Network.</a> <i><strong>IEEE Systems Journal</strong></i>, 15(2). 2342-2348.</li>
            </ul>

            <h2>Peer Reviewed Journals (2020)</h2>
            <ul>
              <li><b>Sunyong Yoo<sup>†</sup></b>, Hyung Chae Yang<sup>†</sup>, <b>Seongyeong Lee</b>, <b>Jaewook Shin</b>, <b>Seyoung Min</b>, Eunjoo Lee, Minkeun Song<sup>*</sup>, Doheon Lee<sup>*</sup> (2020). <a href="https://www.frontiersin.org/articles/10.3389/fphar.2020.584875/full" target="_blank">A Deep Learning-Based Approach for Identifying the Medicinal Uses of Plant-derived Natural Compounds.</a> <i><strong>Frontiers in Pharmacology</strong></i>, 11, 2019.</li>
              <li>Junseok Park, Seongkuk Park, Kwangmin Kim, Woochang Hwang, <b>Sunyong Yoo</b>, Gwan-su Yi, Doheon Lee<sup>*</sup> (2020). <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0238290" target="_blank">An interactive retrieval system for clinical trial studies with context-dependent protocol elements.</a> <i><strong>PloS one</strong></i>, 15(9), e0238290.</li>
              <li>Junseok Park, Seongkuk Park, Gwangmin Kim, Kwangmin Kim, Jaegyun Jung, <b>Sunyong Yoo</b>, Gwan-Su Yi, Doheon Lee<sup>*</sup> (2020). <a href="https://ieeexplore.ieee.org/document/9054970" target="_blank">Reliable Data Collection in Participatory Trials to Assess Digital Healthcare Applications.</a> <i><strong>IEEE Access</strong></i>, 8, 79472-79490.</li>
            </ul>

            <h2>Peer Reviewed Journals (~2019)</h2>
            <ul>
              <li><b>Sunyong Yoo</b>, Kwansoo Kim, Hojung Nam<sup>*</sup>, Doheon Lee<sup>*</sup> (2018). <a href="https://www.mdpi.com/2072-6643/10/8/1042" target="_blank">Discovering health benefits of phytochemicals with integrated analysis of the molecular network, chemical properties and ethnopharmacological evidence.</a> <i><strong>Nutrients</strong></i>, 10(8), 1042.</li>
              <li><b>Sunyong Yoo</b>, Hojung Nam*, Doheon Lee<sup>*</sup> (2018). <a href="https://www.nature.com/articles/s41598-018-30138-w" target="_blank">Phenotype-oriented network analysis for discovering pharmacological effects of natural compounds.</a> <i><strong>Scientific reports</strong></i>, 8(1), 1-9.</li>
              <li><b>Sunyong Yoo<sup>†</sup></b>, Suhyun Ha<sup>†</sup>, Moonshik Shin, Kyungrin Noh, Hojung Nam<sup>*</sup>, Doheon Lee<sup>*</sup> (2018). <a href="https://ieeexplore.ieee.org/abstract/document/8482294" target="_blank">A Data-Driven Approach for Identifying Medicinal Combinations of Natural Products.</a> <i><strong>IEEE Access</strong></i>, 6, 58106-58118.</li>
              <li><b>Sunyong Yoo</b>, Kyungrin Noh, Moonshik Shin, Junseok Park, Kwang-Hyung Lee<sup>*</sup>, Hojung Nam<sup>*</sup>, Doheon Lee<sup>*</sup> (2018). <a href="https://www.nature.com/articles/s41598-018-19614-5" target="_blank">In silico profiling of systemic effects of drugs to predict unexpected interactions.</a> <i><strong>Scientific reports</strong></i>, 8(1), 1-15.</li>
              <li>Kyungrin Noh<sup>†</sup>, <b>Sunyong Yoo<sup>†</sup></b>, Doheon Lee<sup>*</sup> (2018). <a href="https://bmcbioinformatics.biomedcentral.com/articles/10.1186/s12859-018-2196-0" target="_blank">A systematic approach to identify therapeutic effects of natural products based on human metabolite information.</a> <i><strong>BMC bioinformatics</strong></i>, 19(8), 205.</li>
              <li><b>Sunyong Yoo</b>, Moonshik Shin, Doheon Lee<sup>*</sup> (2012). <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3626125/" target="_blank">An approach to reducing information loss and achieving diversity of sensitive attributes in k-anonymity methods.</a> <i><strong>Interactive journal of medical research</strong></i>, 1(2), e14.</li>
              <li>Jongsoo Keum, <b>Sunyong Yoo</b>, Doheon Lee, Hojung Nam<sup>*</sup> (2016). <a href="https://link.springer.com/article/10.1186/s12859-016-1081-y" target="_blank">Prediction of compound-target interactions of natural products using large-scale drug and protein information.</a> <i><strong>BMC bioinformatics</strong></i>, 17(6), 219.</li>
            </ul>

            <h2>Conferences</h2>
            <ul>
              <li>Moonshik Shin, <b>Sunyong  Yoo</b>, Suhyun  Ha, Kyungrin  Noh, Doheon  Lee<sup>*</sup> (2015, October). <a href="https://dl.acm.org/doi/abs/10.1145/2811163.2811168?casa_token=gi7UUHHKPuMAAAAA:rVKwK-OJ3H8KeA69Vzb8egAaNirPh6zmkWhAzRsdVJ8KJGBN5mDh7ZX_-karG1D9Ph2yQEwFx7TOCvg" target="_blank">Identifying Potential Bioactive Compounds of Natural Products by Combining ADMET Prediction Methods.</a> <i>In Proceedings of the ACM Ninth International Workshop on Data and Text Mining in Biomedical Informatics</i> (pp. 19-19). </li>
              <li>Suhyun  Ha, <b>Sunyong  Yoo</b>, Moonshik  Shin, Jinsook  Kwak, Oran  Kwon, Minchang  Choi, Keonwook  Kang, Hojung  Nam, Doheon  Lee<sup>*</sup> (2014, November). <a href="https://dl.acm.org/doi/10.1145/2665970.2665986" target="_blank">Integrative Database for Exploring Compound Combinations of Natural Products for Medical Effects.</a> <i>In Proceedings of the ACM 8th International Workshop on Data and Text Mining in Bioinformatics</i> (pp. 41-41). </li>
              <li>Moonshik Shin, <b>Sunyong Yoo</b>, Kwang H. Lee, Doheon Lee<sup>*</sup> (2012, November). <a href="https://ieeexplore.ieee.org/document/6505046" target="_blank">Electronic Medical Records privacy preservation through k-anonymity clustering method. </a><i>In The 6th International Conference on Soft Computing and Intelligent Systems, and The 13th International Symposium on Advanced Intelligence Systems</i> (pp. 1119-1124). IEEE.</li>
            </ul>

            <h2>Domestic Journals</h2>
            <ul>
              <li><b>정선우, 이민지, 유선용<sup>*</sup></b> (2021). <a href="https://journal.kstudy.com/ISS_Detail.asp?key=3863715&tname=kiss2002&code=YqldZWtoSqVtJTNEN9AsNmUmN/B%20Z%20xLJTNEVHJpZQ==" target="_blank">공공빅데이터를 활용한 기계학습 기반 뇌졸중 위험도 예측.</a> <i>한국항행학회논문지</i>, 25(1), 96-101. </li>
              <li><b>이소연, 최지은, 유선용<sup>*</sup></sup></b> (2021). <a href="https://www.dbpia.co.kr/pdf/pdfView.do?nodeId=NODE10608556&mark=0&useDate=&bookmarkCnt=1&ipRange=N&accessgl=Y&language=ko_KR" target="_blank">Attention 알고리즘 기반 요약 콘텐츠 생성 방안 연구.</a> <i>한국디지털콘텐츠학회</i>, 22(9), 1487-1491. </li>
              <li><b>윤현서, 유선용<sup>*</sup></sup></b> (2021). <a href="https://www.dbpia.co.kr/pdf/pdfView.do?nodeId=NODE10595980&mark=0&useDate=&bookmarkCnt=1&ipRange=N&accessgl=Y&language=ko_KR" target="_blank">Transformer 기반 비윤리적 문장 탐지.</a> <i>한국디지털콘텐츠학회</i>, 22(8), 1289-1293. </li>
            </ul>
          </section>
        </div>
      </div>
      
      <!-- Sidebar -->
      <% include ../include/sidebar.ejs %>

    <!-- Scripts -->
    <% include ../include/script.ejs %>
  </body>
</html>
